:root {
  --blue: #2172c4;
  --light-blue: #1e90ff;
  --white: #ffffff;
  --black: #000000;
  --background: #1b1b1b;
  --gray: #4e4e4e;
  --orange: rgb(236, 174, 41);
}

html,
body {
  box-sizing: border-box;
  font-size: large;
  font-family: system-ui;
  background-color: var(--background);
  -webkit-user-select: none;
  user-select: none;
  scroll-behavior: smooth;
  color: var(--white);
}
